@font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins-Regular.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins-Regular.ttf");
    font-weight: 300;
  }
  html {
    scroll-behavior: smooth; 
  }
  body {
    font-family: 'Poppins';
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F2EB;
    font-size: 12px;
  }
  * {
    box-sizing: border-box;
  }
  .header{
    background-color: #414642;
    border-radius: 0px 0px 250px 0px;
    color: #FFFFFF;
  }
 a {
    text-decoration: none;
    color:black;  
    vertical-align: middle;
 } 
 .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .social_network_head{
    list-style: none;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    padding: 0 10px;
    line-height: 35px;
    transition: .3s;
    list-style: none;
  }
  .nav-item {
    background-color: bisque;
    margin: 3px;
    border-radius: 5px;
  }
  .nav-item a {
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item:hover {
    background-color:#f8d3d3;
  }
  .container_header{
    max-width: 1024px;
    margin: 0 auto;
  }
  .position {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer{
    background-color:#414642;
    color:#FFFFFF;
    border-radius: 250px 250px 0px 0px;
  }
  .footer-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
   }
   .footer a{
    color:#FFFFFF;
  }
.section {
    padding: 10px;
}
  .main-container{
    max-width: 1024px;
  }
  .education{
    width: 800px;
  }
  .quot{
    font-size: 50px;
  }
  .section-summary{
    background-color:blanchedalmond;
    border-radius: 170px;
    width: 400px;
    padding-left: 40px;
  }

.skills{
    padding-inline-start: 0px;
}
  .all-skills{
    display:flex;
  }
  .skills-item{
    padding: 3px;
    border-radius: 5px;
    background-color: #414642;
    list-style: none;
    margin: 3px;
    color: #FFFFFF;
  }
  .main-item{
    font-weight: 300;
    font-size: 16px;
    list-style: none;
  }

  .title {
    /* Чтобы спрятать часть линий, которые 
    ** будут вылазить за пределы блока */
    overflow: hidden;
    /* Выравнивание заголовка по центру, 
    ** можно использовать left, right */
    text-align: center;
    border-bottom: #414642;
    border-left: #414642;
    border-right: #414642;
}
.title:before,
.title:after {
    content: "";
    /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% и выбираем высоту линии, 
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 4px;
    /* Добавляем цвет для линии */
    background-color: #414642;
    /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
    position: relative;
}
.title:before {
    /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -14px;
}
.title:after {
    /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: -14px;
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
